<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Dashboard</title>
 <link rel="stylesheet" href="../static/styles/dashboard_style.css">
 <link rel="stylesheet" href="{{ url_for('static',filename = 'styles/dashboard_style.css') }}">
</head>
<body>

  <div class="working_hours" id="modal">
    
    <div class="working_hours_content">
        <form method="post" action="/home/manually">
      <span class="close">&times;</span>
             <br>

      <label style="display: inline-block">Work
      <input type="radio" checked="checked" name="radio" value = "work">

      </label>
      <label style="display: inline-block">Activity
      <input type="radio" name="radio" value="activity">

      </label>
      <br>

      <label for="in_time">Started at:</label>
      <input type="datetime-local" id="in_time" name="in_time" class="modal_dates">
      
      <label for="out_time">Ended at:</label>
      <input type="datetime-local" id="out_time" name="out_time" class="modal_dates">
      <textarea class = "text_area" name = "issue">

      </textarea>
      <input type="submit" class="play">
      </form>
    </div>

  </div>

 <section id="mySideNav" class="sideNav">

  <a href="" class="logo_container">
   <img src="../static/images/logo.png" alt="logo">
  </a>

  <a href="" class="dashboard_black">
   <img src="../static/images/rect.png" alt="">
   <div>Dashboard</div>
  </a>

  {% if not isAdmin %}
  <a href="{{ url_for('work_days' ,id = user.login_id) }}" >
   <img src="../static/images/icon_workDays.png" alt="">
   Work Days
  </a>
    {% else %}
    <a href="{{ url_for('list_of_employee') }}" >
           <img src="../static/images/icon_workDays.png" alt="">
           Work Days
          </a>

     {% endif %}

  <!-- <a href="" class="links">
   <img src="../static/images/icon_settings.png" alt="">
   Settings
  </a> -->

 </section>

 <!-- Main Content -->
<section class="body_body">

 <!-- Header -->
 <nav>
 
  <button>
   <img src="../static/images/menu_bar.png" alt="">
   <div class="dashboard_txt">Dashboard</div>
  </button>
     <div class="search">
   Search Project ...
  </div>



  <div class="notifications">
   <img src="../static/images/bell.png" alt="">
   <div class="notification_numb">12</div>
  </div>

  <div class="profile_info">
   <div class="name_profession">
    <div class="name_surname">{{ user.name }} {{ user.surname }} </div>
    <div class="profession">{{ user.profession }}</div>
   </div>
   <a href="/profile"><img src="../static/images/profile_photo.png" alt="" class="profile_photo"></a>
  </div>

 </nav>

 <section class="main_content">

  <div class="row">

   <div class="today_info">
    <div class="today">Today</div>

    <div class="info">{{ today.week_day }} {{ today.today_date.day}}, {{ today.today_date.year }} | {{ today.today_date.hour}} : {{ today.today_date.minute}}</div>
   </div>

   <div class="start_time_tracker">

    <div class="txt">Forgot your ID card?</div>

    <a class="play" id="manual_enter">
     <div class="enter_manually">Enter Manually</div>
    </a>

   </div>

  </div>


  <div class="row">

   <div class="box first">

    <div class="txt_w_dots">
     <div class="header">Daily Activity</div>
     <div class="dots">:</div>
    </div>

    <div class="text_w_box">
     <div class="bold_txt">{{ day_activity.daily_activity }}%</div>
     <div class="blue_box">
      <img src="../static/images/first_icon.png" alt="">
     </div>
    </div>
    
   </div>

   <div class="box secod">
   
    <div class="txt_w_dots">
     <div class="header">Worked This today</div>
     <div class="dots">:</div>
    </div>
   
    <div class="text_w_box">
     <div class="bold_txt">{{ day_activity.worked_time }}</div>
     <div class="blue_box">
      <img src="../static/images/second_icon.png" alt="">
     </div>
    </div>
   
   </div>

   <div class="box third">
   
    <div class="txt_w_dots">
     <div class="header">Hours Remained</div>
     <div class="dots">:</div>
    </div>
   
    <div class="text_w_box">
     <div class="bold_txt">{{ day_activity.hours_remained }}</div>
     <div class="blue_box">
      <img src="../static/images/second_icon.png" alt="">
     </div>
    </div>
   
   </div>


  </div>

  

 </section>

</section>
<script  rel="{{ url_for('static',filename = 'js/app.js') }}">
// Get the modal
      var modal = document.getElementById("modal");

      // Get the button that opens the modal
      var btn = document.getElementById("manual_enter");

// Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
          span.onclick = function() {
            modal.style.display = "none";
}

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
  if (event.target === modal) {
            modal.style.display = "none";
  }
}
</script>

</body>
</html>