{% extends 'layout.html' %}

{%block title %} Login{% endblock %}

{%block body %}
<h1> Student Login Form </h1>  

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form method="POST">  
    <div class="container">   
        <label>ID : </label>   
        <input type="text" placeholder="Enter id" name="id" required>  
        <label>Password : </label>   
        <input type="password" placeholder="Enter Password" name="password" required>  
        <button type="submit">Login</button>     
         <a href="/register"> register </a>   
    </div>   
</form>     


{% endblock %}
