<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Profile</title>
 <link rel="stylesheet" href="{{ url_for('static',filename = 'styles/profile_style.css') }}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 
 <nav>
 
  <a href="/home" class="logo_container">
   <img src="static/images/logo.png" alt="logo">
  </a>
 
  <div class="search">
   Search Project ...
  </div>
 
  <div class="notifications">
   <img src="static/images/bell.png" alt="">
   <div class="notification_numb">12</div>
  </div>
 
  <div class="profile_info">
   <div class="name_profession">
    <div class="name_surname">{{ user.name }} {{ user.surname }}</div>
    <div class="profession">{{ user.profession }}</div>
   </div>
   <img src="static/images/profile_photo.png" alt="" class="profile_photo">
  </div>
 
 </nav>

 <section class="main_content">

  <section class="profile_general_info">
   
   <div class="big_profile_info">
    <img src="static/images/big_profile_photo.png" alt="" class="big_profile_photo">
    
    <div class="profile_name">
     <div class="header">{{ user.name.capitalize() }}</div>
     <div class="name">{{user.name }}</div>
     <div class="header flexi">Flexi Status:
         
         {% if flex >= 126000 %} 
        <div class="flexi_status w_card">Green</div>
        {% else %}
        <div class="flexi_status wo_card">Red</div>
        {% endif %}
     </div>
    </div>
   </div>

   <i class="fa fa-gear"></i>

  </section>


  <section class="profile_general_info second">

   <div class="user_details">
    <h1>User Details</h1>

    <div class="gray">Email</div>
    <div class="bold">{{user.login_id}}@stu.sdu.edu.kz</div>


    <div class="gray">Occupation</div>
    <div class="bold">{{user.profession}}</div>

    <div class="gray">Country/City</div>
    <div class="bold">Kazakhstan/Qaskelen</div>

   </div>

   <div class="login_activity">

    <h1>Login Activity</h1>

    <div class="bold">First access to site</div>
    <div class="txt">Tuesday, 19 January 2022, 12:34 PM (1 year 39 days)</div>

    <div class="bold">Last access to site</div>
    <div class="txt">Sunday, 27 February 2022, 7:29 PM (5 secs)</div>
    <div><a href="/logout">Logout</a></div>
   </div>

  </section>


 </section>


</body>
</html>