<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename = 'styles/register_login_reset.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Reset Password</title>
</head>

<body>
  <section class="whole_content">
    <div class="blue_background">
      <div class="whole_back"></div>
      <img src="./images/logo_white_back.png" alt="" class="registr_logo" style="background-color: #1565D8;">
    </div>

    <section class="form_content">

      <button onclick="history.back()" class="back_button">
        <i class="fa fa-angle-left"></i>
        <label>Back</label>
      </button>



      <form method="POST" class="login">
        <div class="login_content">
          <div class="login_container">

            <div class="login_info">
              <h1>Reset Password</h1>
            </div>

            <div class="column">
              <label>ID *</label>
              <input type="text" placeholder="Enter id" name="id" required>
                <label>Name *</label>
              <input type="text" placeholder="Enter name" name="name" required>
                <label>Surname *</label>
              <input type="text" placeholder="Enter surname" name="surname" required>
                <label>Profession *</label>
              <input type="text" placeholder="Enter profession" name="profession" required>
                <label>password *</label>
              <input type="password" placeholder="Enter new password" name="password" required>
            </div>


          </div>

          <div class="login_button">
            <input type="submit" value="Request Reset">
          </div>


        </div>

      </form>

      <div class="xtra_space">
      </div>

    </section>

  </section>

</body>

</html>